*{
    margin: 0;
    padding: 0;
}

:root{
background-color: #ffffff;
padding: 50px;
}

.cabecalho{
background-color: #6d6d6d;
padding: 10px;
}

.corpo{
background-color: #5dc2b1;
padding: 20px;
}

.fooder{
background-color: #8a2be2;
padding: 10px;
}

.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-color: #8a2be2;
}

.boton:hover{
    background: linear-gradient(to right,#8a2be2,#25ccb0,);
}

.boton:active{
    font-size: 15px;
}