*{
    margin: 0;
    padding: 0;
}

:root{
background-color: #82da3ad8;
padding: 50px;
}

.cabecalho{
background-color: #192b0d;
padding: 10px;
}

.corpo{
background-color: #33581a;
padding: 20px;
}

.fooder{
background-color: #549237d5;
padding: 10px;
}

.boton{
    position: fixed;
    top: 20px;
    left: 50px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-color: #8a2be2;
}

.boton:hover{
    background: linear-gradient(to right,#8a2be2,#25ccb0,);
}

.boton:active{
    font-size: 15px;
}