*{
    margin: 0;
    padding: 0;
}

:root{
background-color: #ffffff;
padding: 50px;
}

.cabecalho{
background-color: #6d6d6d;
padding: 60px;
}

.corpo{
background-color: #5dc2b1;
}

.fooder{
background-color: #8a2be2;
}